body {
  
  
  
   text-align:center;
   /* background-size: 1800px 800px; */
 }

.ff{
  font-family: sans-serif;
  font-size: 40px;
  margin-left:0px;
}


 label {
  display: block;
  font: 1rem sans-serif;
  color:red;
}

input,
label {
  margin: .4rem 0;
} 
/* animate  */

.fa-file-text {
  animation: animation-btn 20000ms infinite;
  animation-duration: 8s;
  
}

@keyframes animation-btn {
  0%   {color:rgb(77, 77, 77); }
  70%   {color:rgb(253, 253, 253); }
  100%   {color:rgb(77, 77, 77); }
 
} 


.button {
  margin-top:40px;
  display: inline-block;
  border-radius: 10px;
  background-color: #2bc7165d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  outline:none !important;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  outline:none !important;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
  outline:none !important;
}

.button:hover span {
  padding-right: 25px;
  outline:none !important;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  outline:none !important;
}






